@(city: String, experiences: List[Experience])

@main("Experiences", "") {
@util.shadence_admincontent {
	<div class="container">
		<div class="row">
			<h5><a href="@routes.Admin.getMain()">[Main Page]</a></h5>
			<h1>Experiences - @handlers.CityHandler.getCity(city).getName()</h1>
			<p>
				<a href="@routes.Admin.showExperienceForm(city,"new")">NEW</a>
			</p>
		</div>
		<div class="row">
		    <table border="1" cellpadding="10">
		    	<tr>
		    		<th>Name</th>
		    		<th>Venue</th>
		    		<th>City</th>
		    	</tr>
			    @for(exp <- experiences) {
			    	<tr>
			    		<td>@exp.getName()</td>
			    		<td>@exp.getVenue().getName()</td>
			    		<td><a href="@routes.Admin.showExperienceForm(city, exp.getExperienceId)">EDIT</a></td>
			    	</tr>
			    }
		    </table>
		</div>
	</div>	    							
}
}