@if(utils.Server.isValidUser()) {
	@defining(utils.Server.getCurrentSessionUser) { user =>
 		<div class="dropdown pull-right" style="padding-top: 10px">
			<a class="dropdown-toggle" style="text-decoration: none;" data-toggle="dropdown" href="#">
			 	<img class="image-icon" src="@user.getMainProfilePhoto">
				 @user.getName
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu" style="text-align: left;">
				<li>
					<a href="@routes.Application.getUserProfile(user.getUserId)"><i class="icon-user"></i>&nbsp;My Profile</a>
				</li>
				<li>
					<a href="@routes.Application.showCollectionsOfUser(user.getUserId)"><i class="icon-th-large"></i>&nbsp;My Collections</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="@routes.Application.logout()"><i class="icon-off"></i>&nbsp;Logout</a>
				</li>
			</ul>
		</div>
	}
}

@if(!utils.Server.isValidUser()) {
	<ul class="breadcrumb">
		<li>
			<a href="@routes.Application.viewLoginRegister()">Login</a>
			<span class="divider">|</span>
		</li>
		<li>
			<a href="@routes.Application.viewLoginRegister()">Register</a>
		</li>
	</ul>
}
