body, h1, h2, h3, h4, h5, h6, p, a, button, input, div, img, select, option, textarea {
	font-family: 'Marcellus', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
}
 
.icon-chevron-right {
	float: right;
	opacity: 0.25;
}

.main-logo {
	text-align: center;
	padding-bottom: 15px;
}

.logo-text {
	font-size: 55px;
}

.navbar-experiences {
	font-size: 1.2em;
	/*width: 250px;*/
}

.masonary-container {
	margin: 0 auto;
}

.masonary-item {
	width: 400px; 
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
}

.experience-stream-image {
	width: 400px; /* should be equal to or more than .masonary-item width */
	padding-bottom: 8px;
}

.suggestion-experience {
	height: 100px;
	width: auto;
}

.experience-information {
	padding: 5px;
	-webkit-box-shadow: 0px 0px 8px 8px lightgray;
	-moz-box-shadow: 0px 0px 8px 8px lightgray;
	box-shadow: 0px 0px 8px 8px lightgray;
	border-radius: 5px;
	border: 1px solid lightgray; 
}

.image-icon {
	width: 25px;
	height: 25px;
	border-radius:5px;
}

#image-gallery img {
	max-height: 300px;
	width: 98%;
}

.breadcrumb {
	background-color: white;
}

#venue-map {
	height:175px;
	width: 96%;
}

.div-header {
	font-size: 22px;
	margin: 10px 0px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
}

.thumbnail a {
	text-decoration:none;
}

.original-source {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 3px;
    background-color: lightgray;
    color: brown;
}

.header_menu, .header_menu:hover {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.25em;
	color: #0076CC;
	margin: 10px;
	padding: 5px;
}

.header_menu_active, .header_menu_active:hover {
	text-decoration: none;
	border-bottom: 1px solid black;
	font-weight: bold;
	font-size: 1.25em;
	color: #0076CC;
	margin: 10px;
	padding: 5px;
}

/*
	Settings the improve the look and feel of price and duration slider
*/
.ui-slider-horizontal .ui-state-default {
	background: transparent url(/assets/shadence/images/handle.png) no-repeat scroll center;
	background-size: 19px 19px;
	border: 0px;
}
.ui-slider-horizontal .ui-slider-range {
	background: #cee1ef;
}
.ui-slider-horizontal {
	height: 0.6em;
}

.error {
	font-size: 0.80em;
	color: red;
}

.profile_cell {
 	padding: 10px 10px 10px 0px;	
}

.galleria-container {
	z-index: 0;
}

.text-over-image {
	background: black;
	opacity: 0.75;
	padding: 8px;
	font-size: 24px;
	position: absolute;
	top: 20px;
}

.experiences-slider {
	width: 95%;
}

.stream-experience-name {
	font-size: 18px;
}


.collection-cover-item {
	overflow:hidden;
	width: 100px;
	height: 100px;
	margin: 5px;
	position: relative;
	border: 1px solid lightgray;
	display: table-cell;
	background-position:center;
	background-size:cover;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.collection-cover-main {
	overflow:hidden;
	width: 305px;
	height: 200px;
	position: relative;
	border: 1px solid lightgray;
	display: table-cell;
	background-position:center;
	background-size:cover;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}


.collections-container {
	margin: 0 auto;
}

.collection-cover {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}


.delete-collection-item {
	position:absolute;
	top:0;
	left:0;
	opacity: 0.5;
	margin: 3px 0 0 3px;
}

.move-collection-item {
	position:absolute;
	top:0;
	left:77px;
	opacity: 0.5;
	margin: 3px 0 0 3px;
}

.box-with-border {
	display: table;
	border: 1px solid lightgray;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.thin-line {
	border:none;
	height:1px;
	background-color:lightgray;
	color:lightgray;
}


.loader {
	display: none;
	text-align: center;
}


/*
	Helps the experiences stream not overlay 
	on the categories on a small screen
*/
@media (max-width: 767px) {
	.affix {
		position: static;
	}

	.experiences-slider {
		width: 80%;
	}
	
	.navbar-experiences {
		width: 80%;
	}

	.masonary-item {
		width: 275px;
		margin-bottom: 5px;
	}
	
	.stream-experience-name {
		font-size: 15px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.affix {
		position: fixed;
	}
	
	.masonary-item {
		width: 250px;
		margin-bottom: 5px;
	}
	
	.experiences-slider {
		width: 80%;
	}
	
	.navbar-experiences {
		width: 80%;
	}

	.stream-experience-name {
		font-size: 14px;
	}
}

@media (max-width: 1199px) and (min-width: 980px) {
	.affix {
		position: fixed;
	}
	
	.masonary-item {
		width: 330px;
		margin-bottom: 5px;
	}
	
	.stream-experience-name {
		font-size: 17px;
	}
}

