@(url: String)

<table>
	<tr>
		<td>
			<p style="font-family: Verdana, Helvetica">Hello,</p>
			<br/>
			<p style="font-family: Verdana, Helvetica">
				A request was made to reset your Shadence password. 
				If that request was made by you, please 
				<a href="@Html(url)">click here to reset password</a>. 
			</p>
			<br/>
			<p style="font-family: Verdana, Helvetica">
				In case the link above is not working please copy 
				and paste the following link in your web browser - 
				<pre>@Html(url)</pre> 
			</p>
			<br/>
			<p style="font-family: Verdana, Helvetica">
				In case, the password reset request was not raised by you, 
				please delete this email.
			</p>
			<br/>
			<p style="font-family: Verdana, Helvetica">
				Best Wishes, <br/>
				Shadence
			</p>	
		</td>
	</tr>
	<br/>
	<tr>
		<td>
		<hr/>
			<small>
			Shadence is best viewed in Chrome, Safari and Firefox. 
			Currently, we do not support Internet Explorer.
			</small>
		</td>
	</tr>
</table>
