@(experience: ProviderExperience)

<table>
	<tr>
		<td>
			Experience Id : 
		</td>
		<td>
			@experience.getId
		</td>
	</tr>
	<tr>
		<td>
			Experience Name : 
		</td>
		<td>
			@experience.getName
		</td>
	</tr>
	<tr>
		<td>
			User Email Id: 
		</td>
		<td>
			@experience.getEmail
		</td>
	</tr>
	<tr>
		<td>
			Address : 
		</td>
		<td>
			@experience.getAddress
		</td>
	</tr>
	<tr>
		<td>
			Experience URL : 
		</td>
		<td>
			@experience.getUrl
		</td>
	</tr>
	<tr>
		<td>
			Description : 
		</td>
		<td>
			@experience.getDescription
		</td>
	</tr>
</table>
