@(serverUrl: String)

<table>
	<tr>
		<td>
			<p style="font-family: Verdana, Helvetica">Welcome to Shadence!</p>
			<br/>
			<p style="font-family: Verdana, Helvetica">
				Our aim is to help you discover unique and interesting 
				experiences in your city. Though, currently, we are only 
				working in London, we plan to expand into other cities as well. 
			</p>
			<br/>
			<p style="font-family: Verdana, Helvetica">
				We put in a lot of effort and time in finding exciting 
				experiences near you, so that you do not have to. We will 
				make sure that you never miss any interesting experiences, 
				and will keep you updated on the new additions to our collection. 
			</p>
			<br/>
			<p style="font-family: Verdana, Helvetica">
				If you would like to share any feedback or comment, 
				please do write to us at <a href="mailto:info@@shadence.com">info@@shadence.com</a> 
			</p>
			<br/>
			<p style="font-family: Verdana, Helvetica">
				Cheers, <br/>
				<a href="@Html(serverUrl)">Shadence.com</a>
			</p>	
		</td>
	</tr>
	<br/>
	<tr>
		<td>
		<hr/>
			<small>
			Shadence is best viewed in Chrome, Safari and Firefox. 
			Currently, we do not support Internet Explorer.
			</small>
		</td>
	</tr>
</table>
