@(experience: Experience, similarExperiences: List[Experience])

@main(experience.getVenue.getCity.getName + " - " + experience.getName) {
	<!-- SOCIAL SDK STARTS -->
	<!-- Facebook -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222959721137707";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<!-- Twitter -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	<!-- Pinterest -->
	<script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
	<!-- SOCIAL SDK ENDS -->
 
	<div class="container">
	
		<div class="row">
			<div class="span4">
				<ul class="breadcrumb">
					<li>
						<a href="@routes.Application.getExperiences(experience.getVenue.getCity.getCityId, utils.Util.getStringProperty("category.default"))">
							@defining(experience.getVenue.getCity.getFlagPhotos.get(0)) { flagPhoto =>
							<img class="image-icon" src="@flagPhoto.getSmallPhotoURL"/>&nbsp;@experience.getVenue.getCity.getName
							}
						</a> 
						<span class="divider">></span>
					</li>
					<li>
						<a href="@routes.Application.getExperiences(experience.getVenue.getCity.getCityId, experience.getCategory.getCategoryId)">
							@experience.getCategory.getName
						</a> 
						<span class="divider">></span>
					</li>
					<li>Experience</li>
				</ul>
			</div>
			<div class="span4 main-logo">
	    		<h1 class="logo-text">@utils.Util.getStringProperty("application.name")</h1>
			</div>
			<div class="span4" align="right">
	    		@util.shadence_isvaliduser()
			</div>
		</div>	
		
		<div class="row">
			<div class="offset1 span9">
	    		<h2>@experience.getName</h2>
		    </div>
		</div>
		
		<div class="row" style="padding-bottom: 5px">
			<div class="offset1 span1">
				<a target="_new" href="http://pinterest.com/pin/create/button/?url=http://shadence.com@{request.uri}&media=@{experience.getExperiencePhotos.get(0).getLargePhotoURL}&description=@{experience.getVenue.getCity.getName+" - "+experience.getName}" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>			
			</div>
			<div class="span1">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://shadence.com@{request.uri}" data-via="ShadenceOnline" data-count="none">Tweet</a>
			</div>
			<div class="span1">
				<div class="g-plusone" data-size="tall" data-annotation="none" data-href="http://shadence.com@{request.uri}"></div>
			</div>
			<div class="span2">
				<div class="fb-like" data-href="http://www.facebook.com/shadence" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
			</div>
		</div>

		<div class="row"> <!-- main outer row -->
			<div class="offset1 span6"> <!-- first column --> 
				<div class="row">
					<div class="span6">  
						<div id="galleria" class="img-polaroid" style="width:100%;height:380px;display:none;">
						@for(photo <- experience.getExperiencePhotos) {
							<img src="@photo.getLargePhotoURL" alt="@photo.getAlternateText">
						}
						</div>
						<br/>
					</div>
				</div>	
				<div class="row">
					<div class="span6 experience-information">
						<div class="div-header">The Experience</div>
						<div class="row"> <!-- start inner row -->
							<div class="span6">
							@Html(experience.getDescription)
							</div>
						</div> <!-- end inner row -->
						@if(experience.getOriginalSource!="") {
							<p>
								<a class="original-source" style="text-decoration:none;" target="_new" href="@experience.getOriginalSource">Original Source</a>
							</p>	
						}
					</div>
					<br/> 
				</div>
			</div>
			<div class="span3"> <!-- second column -->
				<div class="row"> <!-- collection section -->
					<div class="span3 experience-information">
					@if(!utils.Server.isUserLoggedIn) {
						<a class="btn btn-info btn-large" href="#collection_guest_modal" data-toggle="modal">
							<i class="icon-th-large icon-white"></i>&nbsp;Add to Collection
						</a>
					} else {
						@if(!handlers.CollectionHandler.isExperienceCollectedByCurrentUser(experience.getExperienceId)) {
							<a class="btn btn-info btn-large" href="#add_to_collection_modal" data-toggle="modal">
								<i class="icon-th-large icon-white"></i>&nbsp;Add to Collection
							</a>
						} else {
							<a class="btn btn-info btn-large disabled" href="#">Collected</a>
						}
					}
						<br/><br/>
						<p style="font-size: 0.9em;">
							@defining(experience.getCollections.size) { size =>
								@if(size < 1) {
									Be the first to collect this experience
								} else {
									Collected by @{size} @{if(size==1) "person" else "people"} 
								}
							}
						</p>
						<p>
							@for(collection <- experience.getCollections) {
								<span style="display:table-cell;">
									<a href="@routes.Application.showCollectionsOfUser(collection.getUser.getUserId)">
										<img class="thumbnail" src="@collection.getUser.getMainProfilePhoto()" style="width:23px;height:23px;padding:1px;">
									</a>	
								</span>
							}
						</p>
					</div>
				</div>
				<br/>	
				<div class="row"> <!-- about experience section -->
					<div class="span3 experience-information">
						<div class="row">
							<div class="span3">
								<div class="div-header">About Experience</div>
								<p>
									<table border="0" cellpadding="3px" style="width:100%;">
										@if(experience.getPriceDescription != "") {
											<tr><th colspan="2" align="left" bgcolor="#E8E8E8">Price <small>[@experience.getPriceRatingDescription]</small></th></tr>
											<tr><td colspan="2">@experience.getPriceDescription</td></tr>
										} else {
											<tr><th colspan="2" align="left" bgcolor="#E8E8E8">Price</th></tr>
											<tr><td colspan="2">[@experience.getPriceRatingDescription]</td></tr>
										}
										
										@if(experience.getDuration != null) {
											<tr><th colspan="2" align="left" bgcolor="#E8E8E8">Duration</th></tr>
											<tr><td colspan="2">@utils.Util.getDurationDescription(experience.getDuration)</td></tr>
										}
										@if(experience.getScheduleDescription != "") {
											<tr><th colspan="2" align="left" bgcolor="#E8E8E8">Schedule</th></tr>
											@util.shadence_schedule(experience.getScheduleDescription)
										}
									</table>
								</p>	
							</div>
						</div>
						<hr class="thin-line"/>
						<div class="row">
							<div class="span3 ">
									<div class="div-header" style="font-size:20px;">Contact</div>
									@if(experience.getPhone != "") {
										<strong>Phone - </strong> @experience.getPhone
										<br/>
									}
				
									@if(experience.getEmail != "") {
										<strong>Email - </strong> @experience.getEmail
										<br/>
									}
				
									@if(experience.getTwitter != "") {
										<strong>Twitter - </strong> <a target="_new" href="http://twitter.com/@experience.getTwitter">@experience.getTwitter</a>
										<br/>
									}
				
									<strong>Venue - </strong>
									<br/>
									@if(handlers.ExperienceHandler.getExperiencesAtVenue(experience.getVenue.getVenueId).size > 1) {
										<a href="@routes.Application.getVenue(experience.getVenue.getVenueId)">@experience.getVenue.getName</a>
									} else {
										@experience.getVenue.getName
									}
									<br/> @experience.getVenue.getAddress, <br/> @{if(experience.getVenue.getVenueCity) experience.getVenue.getVenueCity else experience.getVenue.getCity.getName}, @experience.getVenue.getPostcode
									<br/>
									<div class="thumbnail" id="venue-map"></div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- end of second column -->
		</div> <!-- end of main outer row -->
		
		<br/>	
		<div class="row">
			<div class="offset1 span10">
				<div class="row">
					<div class="span4">
						<p style="font-size:0.75em"><legend>You might also like these experiences</legend></p>
					</div>
				</div>
				<div class="row">
				@for(similarExperience <- similarExperiences) {
					<div class="span2" align="center">
						<a style=" text-decoration: none;" href="@routes.Application.getExperience(similarExperience.getExperienceId)">
							@defining(similarExperience.getExperiencePhotos.get(0)) { experiencePhoto =>
								<img class="thumbnail suggestion-experience" src="@experiencePhoto.getMediumPhotoURL" alt="@experiencePhoto.getAlternateText">
							}
							<p style="font-size: 0.8em;">@similarExperience.getName</p>
						</a>	
					</div>
				}
				</div>
			</div>
		</div>	

		<!-- Start of ADD TO COLLECTION MODAL -->
		<div class="modal hide fade" id="add_to_collection_modal">
				<div class="modal-header">
					<h3>Add to Collection</h3>
				</div>
				@helper.form(routes.Application.addExperienceToCollection(experience.getExperienceId), 'id -> "collection_form") {
				<div class="modal-body">
					<div class="row">
						<div class="span5">
							<p style="font-size:1.15em">
								Add '<b>@experience.getName</b>' to -
							</p>
						</div>
					</div>	
					<div class="row">
						<div class="span4">
							<select id="user_collection" name="user_collection">
							@for(collection <- handlers.CollectionHandler.getCollectionsOfUser(utils.Server.getCurrentSessionUserId)) {	
								<option value="@collection.getCollectionId">@collection.getName</option>
							}
								<option value="_new_">-- Create New Collection --</option>
							</select>
						</div>
					</div>	
					<div class="row" id="new_collection_name_row" style="display:none">
						<div class="span4">
							<input type="text" id="new_collection" name="new_collection" placeholder="Collection Name">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary">Collect</button>
					<button class="btn" data-dismiss="modal">Cancel</button>
				</div>
				}
		</div>
		<!-- End of ADD TO COLLECTION MODAL -->
    
		<!-- Start of COLLECTION GUEST MODAL -->
		<div class="modal hide fade" id="collection_guest_modal">
				<div class="modal-body">
					<div class="row">
						<div class="span5">
							<h4>Please <a href="@routes.Application.viewLoginRegister()">login or register</a> to collect experiences</h4>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal">Cancel</button>
				</div>
		</div>
		<!-- End of COLLECTION GUEST MODAL -->

	</div>

	<!-- SOCIAL SDK STARTS -->
	<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	<!-- SOCIAL SDK ENDS -->

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("shadence/js/galleria-1.2.8.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("shadence/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("shadence/js/main.js")"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			Galleria.loadTheme("@routes.Assets.at("shadence/js/galleria.classic.min.js")");
	    	Galleria.configure({
	    		autoplay: true,
	    		transition: 'fade',
	    		transitionSpeed: 1000,
	    		imageCrop: true
	    	});
	    	Galleria.run("#galleria");
		    $('#galleria').show();
		    Galleria.ready(function(options) {
				this.play(4000);
		    });
		    
		    drawMap("venue-map", @experience.getVenue.getLatitude, @experience.getVenue.getLongitude);
		});
		
	    $('#user_collection').bind('change focus', function(){
			if($(this).val()=='_new_') {
				$('#new_collection_name_row').show();
				$('#new_collection').focus();
			} else { 
				$('#new_collection_name_row').hide();
			}
		});
		
		$('#collection_form').validate({
			ignore: "input[type='text']:hidden",
			rules: {
				new_collection: {required: true, maxlength: 100},
			},
			messages: {
				new_collection: {required: "Please enter the new collection",
								maxlength: "Collection name should not exceed 100 characters"},
			},
			submitHandler: function(form){
				form.submit();
			}
		});
	</script>
}