@(cityId: String, categoryId: String, experiences: List[Experience])

@import handlers._

@main(ExperienceCategoryHandler.getCategoryName(categoryId) + " Experiences in " + CityHandler.getCity(cityId).getName) {
	<div class="container-fluid">
	
		<div class="row">
			<div class="span4">	    		
				<h3 class="affix">
					@defining(CityHandler.getCity(cityId).getFlagPhotos.get(0)) { flagPhoto =>
					<img class="image-icon" src="@flagPhoto.getSmallPhotoURL"/>&nbsp;@CityHandler.getCity(cityId).getName
					}
				</h3>
			</div>
			
			<div class="span4 main-logo">
	    		<h1 class="logo-text">@utils.Util.getStringProperty("application.name")</h1>
			    <h5>@utils.Util.getStringProperty("application.slogan")</h5>
		    </div>
			<div class="span4" align="right">
	    		@util.shadence_isvaliduser()
			</div>
		</div>
		
		<div class="row">
	    	<div class="span3">
		    	<div class="affix">
	    			<ul class="nav nav-tabs nav-stacked navbar-experiences">
	    				@for(category <- ExperienceCategoryHandler.getExperienceCategories) {
			    			<li class='@{if(category.getCategoryId.toLowerCase == categoryId.toLowerCase) "active" else ""}'>
		    					<a href="@routes.Application.getExperiences(cityId, category.getCategoryId)">
		    						@category.getName&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i>
	    						</a>
		    				</li>
	    				}
		    		</ul>


					<div id="price-text">
						<h5>Price <small>[Free - High End]</small></h5>
					</div>	 
	    			<div id="price-slider" class="experiences-slider"></div>

	    			<br/>
					<div id="duration-text">
						<h5>Duration <small>[1 hour - One day]</small></h5>
					</div>	
	    			<div id="duration-slider" class="experiences-slider"></div>
					<div class="loader">
						<img alt="Loading..." style="width: 18px;height:18px;" src="@utils.Util.getAsset("shadence/images/loader.gif")">
					</div>
					<br/>
					<br/>
		    		<p style="background:#F0F0F0;color:white;text-align:center;" class="thumbnail">
		    			<a href="@routes.Application.viewProviderExperienceForm()" style="color: black;text-decoration: none;">Do you have an experience<br/>to offer or share?</a>
	    			</p>
		    		<!-- 
		    		<p style="text-align: center;">
	    				| <a href="@routes.Application.aboutShadence()">About</a>
	    				| Shadence &copy; 2013 |
		    		</p>
					 -->
		    	</div>
	    	</div>
	    	
			<div class="span9">
				<div id="experiences-carousel" class="row">
					<div class="span9">
						<div align="left" id="galleria" class="thumbnail" style="width:100%;height:350px;color: white;display:none;">
							@if(experiences.size>=1) {
							<img data-layer="<span class=text-over-image>@experiences.get(experiences.size-1).getName<span>" alt="@experiences.get(experiences.size-1).getName" src="@experiences.get(experiences.size-1).getExperiencePhotos.get(0).getLargePhotoURL" data-link="@routes.Application.getExperience(experiences.get(experiences.size-1).getExperienceId)">
							}
							@if(experiences.size>=2) {
							<img data-layer="<span class=text-over-image>@experiences.get(experiences.size-2).getName<span>" alt="@experiences.get(experiences.size-2).getName" src="@experiences.get(experiences.size-2).getExperiencePhotos.get(0).getLargePhotoURL" data-link="@routes.Application.getExperience(experiences.get(experiences.size-2).getExperienceId)">
							}
							@if(experiences.size>=3) {
							<img data-layer="<span class=text-over-image>@experiences.get(experiences.size-3).getName<span>" alt="@experiences.get(experiences.size-3).getName" src="@experiences.get(experiences.size-3).getExperiencePhotos.get(0).getLargePhotoURL" data-link="@routes.Application.getExperience(experiences.get(experiences.size-3).getExperienceId)">
							}
							@if(experiences.size>=4) {
							<img data-layer="<span class=text-over-image>@experiences.get(experiences.size-4).getName<span>" alt="@experiences.get(experiences.size-4).getName" src="@experiences.get(experiences.size-4).getExperiencePhotos.get(0).getLargePhotoURL" data-link="@routes.Application.getExperience(experiences.get(experiences.size-4).getExperienceId)">
							}
	  					</div>
							<br/>
							<hr class="thin-line"/>
					</div>	
					<br/>
				</div>	

		    	<div class="masonary-container">
		    	@for(experience <- experiences) {
					<div class="thumbnail masonary-item">
						<a href="@routes.Application.getExperience(experience.getExperienceId)">
							@defining(experience.getExperiencePhotos.get(0)) { experiencePhoto =>
								<img class="experience-stream-image" src="@experiencePhoto.getMediumPhotoURL" alt="@experiencePhoto.getAlternateText">
							}
							<span class="stream-experience-name">@experience.getName</span>
						</a>	
						<div style="color:gray;font-size: 0.9em;">
							<i class="icon-map-marker"></i>&nbsp;@experience.getVenue.getName
						</div>
					</div>
				}
				</div>
				
				<div class="loader">
					<img alt="Loading..." src="@utils.Util.getAsset("shadence/images/loader.gif")">
				</div>
			</div>
		</div>
						
    </div>
    
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@utils.Util.getAsset("bootstrap/js/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@utils.Util.getAsset("shadence/js/jquery.masonry.min.js")"></script>
	<script type="text/javascript" src="@utils.Util.getAsset("shadence/js/jquery.imagesloaded.min.js")"></script>
    <script type="text/javascript" src="@utils.Util.getAsset("shadence/js/galleria-1.2.8.min.js")"></script>
    <script type="text/javascript" src="@utils.Util.getAsset("shadence/js/main.js")"></script>
    <script type="text/javascript">
    	
		var pagestart=@utils.Util.getIntegerProperty("application.pagesize");
		var pagesize=@utils.Util.getIntegerProperty("application.pagesize");
		var pagescroll=true;
		
    	function prepareHtmlString(data, firstLoad) {
			result='';

			if (data.length<1 && firstLoad) {
				result='<div class="masonary-item"><br/><br/><h3>No experiences found for your price &amp; duration criteria.</h3><br/></div>';
			} else {
				$.each(data, function(index,experience){
					result=result+'<div class="thumbnail masonary-item" style="display:none;">' +
						'<a href="/experiences/'+experience.experienceId+'">' +
						'<img class="experience-stream-image" src="'+experience.experiencePhotos[0].mediumPhotoURL+'" alt="'+experience.experiencePhotos[0].alternateText+'">' +
						'<span class="stream-experience-name">'+experience.name+'</span></a>'+
						'<div style="color:gray;font-size: 0.9em;"><i class="icon-map-marker"></i>&nbsp;'+experience.venue.name + '</div>' +
						'</div>';
				});
			}
			
			return result;
		}
    
    	function getExperiencesForPriceAndDuration(firstLoad) {
			$('.loader').show();
			
			priceLow = $("#price-slider").slider( "values", 0 );
			priceHigh = $("#price-slider").slider( "values", 1 );
			durationLow = $("#duration-slider").slider( "values", 0 );
			durationHigh = $("#duration-slider").slider( "values", 1 );
			durationLow = (durationLow==5)?24:durationLow;
			durationHigh = (durationHigh==5)?24:durationHigh;
			jsonString = "format=json&priceLow="+priceLow+"&priceHigh="+priceHigh+"&durationLow="+durationLow+"&durationHigh="+durationHigh+"&pageStart="+pagestart;
			
			$.getJSON('@routes.Application.getExperiences(cityId, categoryId.toLowerCase)?' + jsonString, function(data) {
				$htmlString = $(prepareHtmlString(data, firstLoad));
				
				if (firstLoad)
					$('.masonary-container').html($htmlString);
				else
					$('.masonary-container').append($htmlString);
				
				$htmlString.imagesLoaded(function() {
					if (firstLoad) {
						$('.masonary-container').masonry('reload');
						$('#experiences-carousel').remove();
					} else {
						$('.masonary-container').masonry('appended', $htmlString, true);
					}
					
					// enable pagescroll again
					if(data.length < pagesize) {
						pagescroll=false;
					} else {
						pagescroll=true;
						pagestart = pagestart + pagesize;
					}
					
					// hide the loader after masonry items are appended
					$('.loader').hide();
					$('.masonary-item').show();
				});	

			});
		}

    
    	$(document).ready(function(){
			Galleria.loadTheme("@utils.Util.getAsset("shadence/js/galleria.classic.min.js")");
	    	Galleria.configure({
	    		autoplay: true,
	    		showInfo: false,
	    		transition: 'fade',
	    		transitionSpeed: 1000,
	    		imageCrop: true
	    	});
	    	Galleria.run("#galleria");
		    $('#galleria').show();
		    Galleria.ready(function(options) {
				this.play(2000);
		    });
		    
			initMasonry(".masonary-container", ".masonary-item");
			
			$("#price-slider").slider({
				range:true,
				min:0,
				max:4,
				values: [0,4],
				step:1,
				slide: function(event, ui) {
					priceLow = getPriceText(ui.values[0]);
					priceHigh = getPriceText(ui.values[1]);
					$("#price-text").html("<h5>Price <small>[" + priceLow + " - " + priceHigh + "]</small></h5>");
				},
				change: function(event, ui) {
					pagestart=@utils.Util.getIntegerProperty("application.pagestart");
					getExperiencesForPriceAndDuration(true);
				}
			});
			
			
			$("#duration-slider").slider({
				range:true,
				min:1,
				max:5,
				values: [1, 5],
				step:1,
				slide: function(event, ui) {
					durationLow = getDurationText(ui.values[0]);
					durationHigh = getDurationText(ui.values[1]);
					$("#duration-text").html("<h5>Duration <small>[" + durationLow + " - " + durationHigh + "]</small></h5>");
				},
				change: function(event, ui) {
					pagestart=@utils.Util.getIntegerProperty("application.pagestart");
					getExperiencesForPriceAndDuration(true);
				}
			});
			
			
			$(window).scroll(function () {
				if (($(window).scrollTop() >= ($(document).height()-$(window).height())/1.5) && pagescroll) {
		    		pagescroll = false;
					getExperiencesForPriceAndDuration(false);
				}
			});
			
			
			$(window).resize(function () {
				rescaleGalleria('#galleria', '.galleria-container');
				reloadMasonry('.masonary-container');
			});
		});
    </script>
}