@(validRequest: Boolean)

@import helper._

@main("Shadence - " + utils.Util.getStringProperty("application.slogan")) {
	<div class="container">
	
		<div class="row">
			<div class="span4">
				<ul class="breadcrumb">
					<li>
						<a href="@routes.Application.index()">
							Shadence Home
						</a> 
					</li>
				</ul>
			</div>
			<div class="span4 main-logo">
	    		<h1 class="logo-text">@utils.Util.getStringProperty("application.name")</h1>
			    <h5>@utils.Util.getStringProperty("application.slogan")</h5>
		    </div>
		</div>
		
		<br/>
		<br/>
		<br/>
		<div class="row">
			<div class="span3">&nbsp;</div>
			@form(routes.Application.forgotPassword(), 'id -> "forgotpassword_form") {
				<div class="span6">
					@if(utils.Server.isResetPasswordRequest) {
						@if(validRequest) {
							<div class="row">
								<div class="span4">
									<p>Please enter your new password.</p>
								</div>
							</div>
							<br/>
							<div class="row">
									<div class="span2">
										<label for="password"><strong>Password</strong></label>
									</div>
									<div class="span4">
										<input type="password" id="password" name="password" class="input-xlarge" placeholder="Password">
									</div>
							</div>
							<div class="row">
									<div class="span2">
										<label for="confirm"><strong>Confirm Password</strong></label>
									</div>
									<div class="span4">
										<input type="password" name="confirm" class="input-xlarge" placeholder="Confirm Password">
									</div>
							</div>
							<div class="row">
									<div class="offset2 span3">
										<input type="hidden" name="@utils.Server.PASSWORD_REQUEST_TYPE" value="@utils.Server.RESET_PASSWORD">
										<button type="submit" class="btn btn-info">Submit</button>
										<a href="@routes.Application.index()" class="btn">Cancel</a>
									</div>
							</div>
						} else {
							<div class="row">
								<div class="span6">
									<p>This is an invalid password reset request.</p>
									<p>Either the password reset request has expired or an incorrect request has been made.</p>
									<p>In case you still to reset your password, please make <a href="@routes.Application.viewForgotPassword()">another request</a>.</p>
									<p>You can also go to <a href="@routes.Application.index()">Shadence home page</a>.</p>
								</div>
							</div>
							<br/>
						}
					} else {
						<div class="row">
							<div class="span5">
								<p style="font-size: 1.20em"><strong>Please enter your email id registered with Shadence, 
								and we will send you an email to reset your password.</strong></p>
							</div>
						</div>
						<br/>
						<div class="row">
								<div class="span1">
									<label for="email"><strong>Email</strong></label>
								</div>
								<div class="span5">
									<input type="text" name="email" class="input-xlarge" placeholder="Email">
								</div>
						</div>
						<div class="row">
								<div class="offset1 span3">
									<input type="hidden" name="@utils.Server.PASSWORD_REQUEST_TYPE" value="@utils.Server.FORGOT_PASSWORD">
									<button type="submit" class="btn btn-info">Submit</button>
									<a href="@routes.Application.viewLoginRegister()" class="btn">Cancel</a>
								</div>
						</div>
					}
				</div>
			}
			<div class="span3">&nbsp;</div>
		</div>
		
    </div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("shadence/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
	<script>
		$(document).ready(function() {
			$('#forgotpassword_form').validate({
				rules: {
					email: {required: true, maxlength: 100, email: true},
					password: {required: true, maxlength: 100},
					confirm: {equalTo: "#password"}
				},
				messages: {
					email: {required: "Please enter your email id",
								maxlength: "Email id should not exceed 100 characters",
								email: "Please enter a valid email id"},
					password: {required: "Please enter your password",
								maxlength: "Password should not exceed 100 characters"},
					confirm: {equalTo: "Passwords do not match"}
				},
				submitHandler: function(form){
					form.submit();
				}
			});
		});
	</script>	
}