@(experiences: List[Experience])

@import util._

@main("Welcome to Play 2.0") {
    @for(exp <- experiences) {
    <hr/>
    	<h4>@exp.getName()</h4> : @Html(exp.getDescription()) : Duration - @exp.getDuration() : PriceRating - @exp.getPriceRating()
    	<br/>
    	@shadence_schedule(exp.getScheduleDescription()) 
    	<br/>
    	@exp.getCategory().getName() : @exp.getVenue().getName()
    	<br/>EXPERIENCE PHOTOS
    	@for(photo <- exp.getExperiencePhotos()) {
    		<li>@photo.getLocation() : @photo.getName() : @photo.getAlternateText()</li>
    	}
		<br/>FLAG PHOTOS
    		<li>@exp.getVenue().getCity().getFlagPhotos().get(0).getLocation() : 
    							@exp.getVenue().getCity().getFlagPhotos().get(0).getName() : 
    							@exp.getVenue().getCity().getFlagPhotos().get(0).getAlternateText()</li>
    }							
}