@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>@title</title>
   		<meta name="viewport" content="width=device-width, initial-scale=1.0">
   		<meta name="description" content="Shadence helps you discover unique and interesting experiences in your city. We are at constant lookout for interesting things to do in your city to help you make the best use of your time.">
   		<meta name="keywords" content="experience, things to do, outdoor, adventure, nightlife, art, entertainment, gastronomy, city, discover, venue, places to go, exciting, interesting, share, food, drinks">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/smoothness/jquery-ui.css" />
		<link rel="shortcut icon" href="@utils.Util.getAsset("shadence/images/favicon.jpg")">
    	<link href="@utils.Util.getAsset("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
	    <link href="@utils.Util.getAsset("bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet">
    	<link href="@utils.Util.getAsset("shadence/css/main.css")" rel="stylesheet">

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-29594464-1']);
			_gaq.push(['_setDomainName', 'shadence.com']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
  
	<body>		
        @content
        <br/>
        <hr class="thin-line"/>
        <div class="container-fluid">
			<div class="row">
				<div class="span4">&nbsp;</div>
				<div class="span4" align="center">
		    		<p>
	    				| <a href="@routes.Application.aboutShadence()">About</a>
	    				| <a href="@routes.Application.viewProviderExperienceForm()">Submit an experience</a>
	    				| Shadence &copy; 2013 |
		    		</p>
				</div>
				<div class="span4">&nbsp;</div>
			</div>
		</div>
	</body>
</html>	
