
@main("Shadence - " + utils.Util.getStringProperty("application.slogan")) {
	<div class="container-fluid">
	
		<div class="row">
			<div class="span4">
				&nbsp;
			</div>
			<div class="span4 main-logo">
	    		<h1 class="logo-text">@utils.Util.getStringProperty("application.name")</h1>
			    <h5>@utils.Util.getStringProperty("application.slogan")</h5>
		    </div>
		</div>
		<br/>
		<div class="row">
			<div class="span3">
				<img alt="Men At Work" src="@utils.Util.getAsset("shadence/images/menatwork.png")">
			</div>
			<div class="span6">
				<br/>
				<br/>
				<h3>
					We are working to make it easier for you to discover interesting experiences in your city.
				</h3>
			</div>
		</div>
				
    </div>
	
}