@(experienceForm: Form[ProviderExperience])

@import helper._

@main("Submit An Experience") {
 
	<div class="container-fluid">
	
		<div class="row">
			<div class="span4">
				<ul class="breadcrumb">
					<li>
						<a href="@routes.Application.index()">
							Shadence Home
						</a> 
					</li>
				</ul>
			</div>
			<div class="span4 main-logo">
	    		<h1 class="logo-text">@utils.Util.getStringProperty("application.name")</h1>
			</div>
			<div class="span4" align="right">
	    		@util.shadence_isvaliduser()
			</div>
		</div>	
		
		<br/><br/>
		<div class="row"> <!-- main outer row -->
			<div class="span5">
				<img style="width:475px" src="@utils.Util.getAsset("shadence/images/share_experience.jpg")">
				<h4>
					Are you a local business in London, with an interesting experience to offer?
					Or a Londoner with an interesting experience to share?
				</h4>
				<p>
					Then tell us about your experience. We can publish it on 
					Shadence and help you share it with a much larger audience of locals 
					and tourists.
				</p>
				<p>
					While we publish only those experiences that we think our users will love, 
					we do go through every experience that you share with us.  
				</p>
				<br/>
				<p>
					<small>
						<i>(Photos by <a target="_blank" href="http://www.flickr.com/photos/garryknight/">Garry Knight</a>)</i>
					</small>	
				</p>
			</div>
			
			@form(routes.Application.submitProviderExperience(), 'id -> "experience_form") {
			<div class="offset1 span5">
				<label for="@experienceForm("name").id">Experience Name <span class="error">Required</span></label>
				<input type="text" class="span4" name="@experienceForm("name").name" id="@experienceForm("name").id">
				<br/><br/>
				<label for="@experienceForm("email").id">Your Email Id <span class="error">Required</span></label>
				<input type="text" class="span4" name="@experienceForm("email").name" id="@experienceForm("email").id">
				<br/><br/>
				<label for="@experienceForm("address").id">Venue of Experience <span class="error">Required</span></label>
				<input type="text" class="span4" name="@experienceForm("address").name" id="@experienceForm("address").id">
				<br/><br/>
				<label for="@experienceForm("url").id">Link to the website with experience details</label>
				<input type="text" class="span4" name="@experienceForm("url").name" id="@experienceForm("url").id">
				<br/><br/>
				<label for="@experienceForm("description").id">Description of the Experience <span class="error">Required</span></label>
				<textarea rows="10" class="span5" name="@experienceForm("description").name" id="@experienceForm("description").id"></textarea>
				<br/>
				<br/><br/>
				<button type="submit" class="btn btn-primary btn-large">Submit</button>
				<a href="@utils.Server.getLastUrl()" class="btn btn-large">Cancel</a>
			</div>		
			}
		</div> <!-- end of main outer row -->
		
		<br/>	

	</div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="@utils.Util.getAsset("bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@utils.Util.getAsset("shadence/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@utils.Util.getAsset("shadence/js/main.js")"></script>
    <script>
    	$(document).ready(function(){
			$('#experience_form').validate({
				rules: {
					@experienceForm("name").name: {required: true, maxlength: 100},
					@experienceForm("email").name: {required: true, maxlength: 100, email: true},
					@experienceForm("address").name: {required: true, maxlength: 200},
					@experienceForm("url").name: {maxlength: 500},
					@experienceForm("description").name: {required: true, maxlength: 2000}
				},
				messages: {
					@experienceForm("name").name: {required: "Please enter experience name",
												maxlength: "Experience name should not exceed 100 characters"},
					@experienceForm("email").name: {required: "Please enter your email id",
												maxlength: "Email id should not exceed 100 characters",
												email: "Please enter a valid email id"},
					@experienceForm("address").name: {required: "Please enter a venue",
												maxlength: "Venue should not exceed 200 characters"},
					@experienceForm("url").name: {maxlength: "Website link should not exceed 500 characters"},
					@experienceForm("description").name: {required: "Please enter experience description",
													maxlength: "Experience description should not exceed 2000 characters"}
				},
				submitHandler: function(form){
					form.submit();
				}
			});
    	});
    </script>
}