@(user: User, collection: models.Collection)

@import helper._

@main("Shadence - " + user.getName) {
	<div class="container">
		<div class="row">
			<div class="span4">
				<ul class="breadcrumb">
					<li>
						<a href="@routes.Application.index()">
							Shadence Home
						</a> 
					</li>
				</ul>
			</div>
			<div class="span4 main-logo">
	    		<h1 class="logo-text">@utils.Util.getStringProperty("application.name")</h1>
			</div>
			<div class="span4" align="right">
	    		@util.shadence_isvaliduser()
			</div>
		</div>	
				
		<br/>
		<div class="row">
			<div class="offset2 span2">
				<img class="thumbnail" style="height:150px;" src="@user.getMainProfilePhoto">  
			</div>
			<div class="span8">
				<div style="font-size: 30px;padding: 7px">@user.getName</div>
				<div style="font-size: 18px;padding: 7px">
					<a href="@routes.Application.showCollectionsOfUser(user.getUserId)" style="text-decoration: none;">Collections</a>&nbsp;&gt;&nbsp;@collection.getName
				</div>
				<div style="font-size: 14px;padding: 10px 7px 7px 7px">
					<i>@collection.getDescription</i>
				</div>
				@util.shadence_ownercontent(user.getUserId) {
				<div style="padding: 7px">
					<a class="btn btn-small btn-info" href="#edit_collection_modal" data-toggle="modal">Edit Collection</a>
				</div>
				}
			</div>
		</div>	
		<br/>
		<div class="row">
			<hr class="thin-line"/>
	    	<div class="masonary-container">
	    		@for(experience <- collection.getExperiences) {
				<div class="thumbnail masonary-item">
    				@util.shadence_ownercontent(user.getUserId) {
    				<a href="@routes.Application.removeExperienceFromCollection(collection.getCollectionId, experience.getExperienceId)" class="btn btn-danger btn-small delete-collection-item">
    					<i class="icon-trash icon-white"></i>&nbsp;Delete
   					</a>
    				<a data-id="@experience.getExperienceId" data-toggle="modal" href="#move_experience_modal" class="btn btn-warning btn-small move-collection-item">
    					<i class="icon-trash icon-white"></i>&nbsp;Move
   					</a>
   					}
					<a href="@routes.Application.getExperience(experience.getExperienceId)">
						@defining(experience.getExperiencePhotos.get(0)) { experiencePhoto =>
							<img class="experience-stream-image" src="@experiencePhoto.getMediumPhotoURL" alt="@experiencePhoto.getAlternateText">
						}
						<span class="stream-experience-name">@experience.getName</span>
					</a>	
				</div>
	    		}
	    	</div>
		</div>
		
		@util.shadence_ownercontent(user.getUserId) {
		<!-- Start of EDIT COLLECTION MODAL -->
		<div class="modal hide fade" id="edit_collection_modal">
				<div class="modal-header">
					<div class="row">
						<div class="span3">
							<h3>Edit Collection</h3>
						</div>
						<div class="span2 pull-right">
							@helper.form(routes.Application.deleteCollection(collection.getCollectionId)) {
							<button type="submit" class="btn btn-danger">
								<i class="icon-trash icon-white"></i>&nbsp;Delete Collection	
							</button>
							}
						</div>
					</div>
				</div>
				@helper.form(routes.Application.updateCollection(collection.getCollectionId), 'id -> "collection_form") {
				<div class="modal-body">
					<div class="row">
						<div class="span1">
							<label for="name">Name</label>
						</div>
						<div class="span3">
							<input type="text" class="input-large" name="name" placeholder="Collection Name" value="@collection.getName">
						</div>
					</div>
					<div class="row">
						<div class="span1">
							<label for="description">Description</label>
						</div>
						<div class="span3">
							<textarea name="description" class="input-large" rows="5" cols="50" placeholder="Description">@collection.getDescription</textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary">Save</button>
					<button class="btn" data-dismiss="modal">Cancel</button>
				</div>
				}
		</div>
		<!-- End of EDIT COLLECTION MODAL -->

		<!-- Start of MOVE EXPERIENCE MODAL -->
		<div class="modal hide fade" id="move_experience_modal">
				<div class="modal-header">
					<div class="row">
						<div class="span3">
							<h3>Move Experience </h3>
						</div>
					</div>
				</div>
				@helper.form(routes.Application.moveExperienceFromCollection(collection.getCollectionId)) {
				<div class="modal-body">
					<div class="row">
						<div class="span4">
							<p>Move to collection</p>
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<select name="user_collection">
							@for(coll <- handlers.CollectionHandler.getCollectionsOfUser(utils.Server.getCurrentSessionUserId)) {	
								@if(!(collection.getCollectionId==coll.getCollectionId)) {
								<option value="@coll.getCollectionId">@coll.getName</option>
								}
							}
							</select>
							<input type="hidden" name="user_experience" id="user_experience">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary">Move</button>
					<button class="btn" data-dismiss="modal">Cancel</button>
				</div>
				}
		</div>
		<!-- End of MOVE EXPERIENCE MODAL -->
		}

    </div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("shadence/js/jquery.masonry.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("shadence/js/jquery.imagesloaded.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("shadence/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("shadence/js/main.js")"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			initMasonry(".masonary-container", ".masonary-item");
			
			$('.masonary-item').mouseover(function(){
				$(this).children('.delete-collection-item').css("opacity", "1");
				$(this).children('.move-collection-item').css("opacity", "1");
			});

			$('.masonary-item').mouseleave(function(){
				$(this).children('.delete-collection-item').css("opacity", "0.5");
				$(this).children('.move-collection-item').css("opacity", "0.5");
			});
			
			$('.move-collection-item').click(function(event) {
				$('#user_experience').val($(this).attr("data-id"));
			});

		});
		
		$('#collection_form').validate({
			rules: {
				name: {required: true, maxlength: 100},
				description: {maxlength: 2000}
			},
			messages: {
				name: {required: "Please enter the name of new collection",
						maxlength: "Collection name should not exceed 100 characters"},
				description: {maxlength: "Collection description should not exceed 2000 characters"}
			},
			submitHandler: function(form){
				form.submit();
			}
		});

	</script>
}