@(user: User, user_form: Form[User])

@import helper._

@main("Shadence - " + user.getName) {
	<div class="container">
		<div class="row">
			<div class="span4">
				<ul class="breadcrumb">
					<li>
						<a href="@routes.Application.index()">
							Shadence Home
						</a> 
					</li>
				</ul>
			</div>
			<div class="span4 main-logo">
	    		<h1 class="logo-text">@utils.Util.getStringProperty("application.name")</h1>
			</div>
			<div class="span4" align="right">
	    		@util.shadence_isvaliduser()
			</div>
		</div>	
				
		<br/>
		@if(handlers.UserHandler.isUserProfileOwner(user.getUserId)) {
		<div class="row">
			<div class="span3">
				<img class="thumbnail" width="200px" height="200px" src="@user.getMainProfilePhoto">  
			</div> 
			<div class="span6" style="border-top: 1px solid lightgray;">
				<div class="tab-content">
					<div class="tab-pane active" id="profile_view">
						<p style="font-size: 30px;  padding-top: 10px">@user.getName</p>
						<table border="0">
							<tr>
								<td class="profile_cell"><strong>Email</strong></td>
								<td class="profile_cell">@user.getEmail</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>Gender</strong></td>
								<td class="profile_cell">
									@if(user.getGender=="F") {Female}
									@if(user.getGender=="M") {Male}
								</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>Birthdate</strong></td>
								<td class="profile_cell">@user.getFormatedBirthdate</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>City</strong></td>
								<td class="profile_cell">@user.getCity</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>Country</strong></td>
								<td class="profile_cell">@user.getCountry</td>
							</tr>
						</table>
						<br/>
						<a data-toggle="tab" class="btn btn-info btn-large" href="#profile_edit">Edit</a>
					</div>
					<div class="tab-pane" id="profile_edit">
					@form(routes.Application.updateProfile(user.getUserId), 'id -> "user_form", 'enctype -> "multipart/form-data") {
						<table border="0">
							<tr>
								<td class="profile_cell"><strong>Name</strong></td>
								<td class="profile_cell">
									<input type="text" name="@user_form("name").name" value="@user_form("name").value" placeholder="Name">
								</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>Email</strong></td>
								<td class="profile_cell">
									<input type="text" name="@user_form("email").name" value="@user_form("email").value" placeholder="Email">
								</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>Password</strong><br/><strong>Confirm Password</strong></td>
								<td class="profile_cell">
									<input type="password" id="@user_form("password").name" name="@user_form("password").name" placeholder="&#149;&#149;&#149;&#149;&#149;&#149;&#149;&#149;">
									<br/><input type="password" name="confirm" placeholder="&#149;&#149;&#149;&#149;&#149;&#149;&#149;&#149;">
								</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>Birthdate</strong></td>
								<td class="profile_cell">
									<input type="text" id="@user_form("birthdate").name" name="@user_form("birthdate").name" value="@user_form("birthdate").value">
								</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>Gender</strong></td>
								<td class="profile_cell">
									<select name="@user_form("gender").name" class="input-small">
										<option value="M" @if(user_form("gender").value=="M") {selected}>Male
										<option value="F" @if(user_form("gender").value=="F") {selected}>Female
									</select>
								</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>City</strong></td>
								<td class="profile_cell">
									<input type="text" name="@user_form("city").name" value="@user_form("city").value" placeholder="City">
								</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>Country</strong></td>
								<td class="profile_cell">
									<input type="text" name="@user_form("country").name" value="@user_form("country").value" placeholder="Country">
								</td>
							</tr>
							<tr>
								<td class="profile_cell"><strong>Profile Photo</strong></td>
								<td class="profile_cell">
									<input type="file" id="profile_photo" name="profile_photo">
								</td>
							</tr>
						</table>
						<br/>
						<button class="btn btn-info btn-large" type="submit">Submit</button>
						<a data-toggle="tab" class="btn btn-large" href="#profile_view">Cancel</a>
					}	
					</div>
				</div>
			</div>
		</div>	
	} else {
		<br/>
		<br/>
		<div class="row">
			<div class="offset3 span6" align="center">
				<h3>You are not authorized to view this profile.</h3>  
			</div>
		</div> 
	}
		
    </div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@utils.Util.getAsset("bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@utils.Util.getAsset("shadence/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@utils.Util.getAsset("shadence/js/main.js")"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$( "#@user_form("birthdate").name" ).datepicker({ dateFormat: "yy-mm-dd" });

			$('#user_form').validate({
				rules: {
					@user_form("name").name: {required: true, maxlength: 100},
					@user_form("email").name: {required: true, maxlength: 100, email: true},
					@user_form("birthdate").name: {date: true},
					@user_form("city").name: {maxlength: 100},
					@user_form("country").name: {maxlength: 100},
					@user_form("password").name: {maxlength: 100},
					confirm: {equalTo: "#@user_form("password").name"}
				},
				messages: {
					@user_form("name").name: {required: "Please enter your name",
												maxlength: "Name should not exceed 100 characters"},
					@user_form("email").name: {required: "Please enter your email id",
												maxlength: "Email id should not exceed 100 characters",
												email: "Please enter a valid email id"},
					@user_form("birthdate").name: {date: "Please enter a valid date"},
					@user_form("city").name: {maxlength: "City should not exceed 100 characters"},
					@user_form("country").name: {maxlength: "Country should not exceed 100 characters"},
					@user_form("password").name: {maxlength: "Password should not exceed 100 characters"},
					confirm: {equalTo: "Passwords do not match"}
				},
				submitHandler: function(form){
					form.submit();
				}
			});
		});
		
	</script>
}